@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

  body, html {
    background-color: gh;
    margin: 0;
    padding: 0;
  }
  
  .landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .content-container {
    display: flex;
    max-width: 1200px;
    width: 100%;
  }
  
  .image-container {
    flex: 1;
    align-self: flex-start;
    overflow: hidden;
    max-height: 100%; 
    /* Set the maximum height of the container */
  }
  
  img {
    width: 100%; /* Set the width of the image to 100% */
    height: auto;
    object-fit: cover;
  }

  /* Add these styles for image fading transition */
  .image-container img {
    transition: opacity 1s ease-in-out;
    opacity: 1;
  }
  
  .image-container img.hidden {
    opacity: 0;
  }
 
  .text-container {
    font-family: 'Roboto Condensed', sans-serif;
    color: gray;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #logo {
    max-width: 10%;
    max-width: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    align-self: center;
  }
  
  /* Media query for mobile view */
  @media (max-width: 767px) {
    body, html {
      margin: 0;
      padding: 0;
    }
  
    .content-container {
      flex-direction: column;
      margin: 0; /* Add margin: 0; if there's any unwanted margin */
      padding-top: 0;
    }
  
    .landing-page {
      height: 100%; /* Explicitly set height to 100% */
    }
  }
  